Repository jump-dev/JuMP.jl, pull requests merged in 2021-02, with the labels that each got.

#2445 Refactor examples into subdirectories
  docs/.gitignore
  docs/make.jl
  docs/src/examples/Mixed-integer linear programs/callbacks.jl
  docs/src/examples/Mixed-integer linear programs/cannery.jl
  docs/src/examples/Mixed-integer linear programs/cutting_stock_column_generation.jl
  docs/src/examples/Mixed-integer linear programs/diet.jl
  docs/src/examples/Mixed-integer linear programs/factory_schedule.jl
  docs/src/examples/Mixed-integer linear programs/knapsack.jl
  docs/src/examples/Mixed-integer linear programs/multi.jl
  docs/src/examples/Mixed-integer linear programs/prod.jl
  docs/src/examples/Mixed-integer linear programs/steelT3.jl
  docs/src/examples/Mixed-integer linear programs/sudoku.jl
  docs/src/examples/Mixed-integer linear programs/transp.jl
  docs/src/examples/Mixed-integer linear programs/urban_plan.jl
  docs/src/examples/Nonlinear programs/clnlbeam.jl
  docs/src/examples/Nonlinear programs/mle.jl
  docs/src/examples/Nonlinear programs/nlp_tricks.jl
  docs/src/examples/Nonlinear programs/rosenbrock.jl
  docs/src/examples/Quadratic programs/qcp.jl
  docs/src/examples/Semidefinite programs/cluster.jl
  docs/src/examples/Semidefinite programs/corr_sdp.jl
  docs/src/examples/Semidefinite programs/max_cut_sdp.jl
  docs/src/examples/Semidefinite programs/min_distortion.jl
  docs/src/examples/Semidefinite programs/min_ellipse.jl
  docs/src/examples/Semidefinite programs/robust_uncertainty.jl
Labels: docs

#2444 Migrate non-modeling tutorials from JuMPTutorials.jl
  docs/.gitignore
  docs/Project.toml
  docs/make.jl
  docs/src/tutorials/Getting started/an_introduction_to_julia.jl
  docs/src/tutorials/Getting started/data/Cereal.txt
  docs/src/tutorials/Getting started/data/SalesData.xlsx
  docs/src/tutorials/Getting started/data/Soccer.txt
  docs/src/tutorials/Getting started/data/StarWars.csv
  docs/src/tutorials/Getting started/data/passport-index-matrix.csv
  docs/src/tutorials/Getting started/getting_started_with_JuMP.jl
  docs/src/tutorials/Getting started/nonlinear_modelling.jl
  docs/src/tutorials/Getting started/problem_modification.jl
  docs/src/tutorials/Getting started/solvers_and_solutions.jl
  docs/src/tutorials/Getting started/variables_constraints_objective.jl
  docs/src/tutorials/Getting started/working_with_data_files.jl
  docs/src/tutorials/LICENSE.md
  docs/src/tutorials/Optimization concepts/benders_decomposition.jl
  docs/src/tutorials/Optimization concepts/benders_lazy_constraints.jl
  docs/src/tutorials/Optimization concepts/conic_programming.jl
  docs/src/tutorials/Optimization concepts/integer_programming.jl
  src/print.jl
Labels: docs

#2447 Fix printing in IJuliaMode
  src/print.jl
  test/print.jl
Labels: printing

#2459 Revise tutorial Getting started with Julia
  docs/src/tutorials/Getting started/an_introduction_to_julia.jl
Labels: docs

#2467 Revise tutorial Getting started with JuMP
  docs/make.jl
  docs/src/index.md
  docs/src/quickstart.md
  docs/src/tutorials/Getting started/getting_started_with_JuMP.jl
Labels: docs

#2468 Add docstrings to functions in nlp.jl
  docs/src/nlp.md
  docs/src/reference/nonlinear.md
  src/JuMP.jl
  src/nlp.jl
Labels: docs

#2473 Add missing docstrings in sd.jl
  src/sd.jl
Labels: docs

#2474 Fix missing method in Containers when forcing the container type
  src/Containers/container.jl
  test/Containers/macro.jl
Labels: JuMPContainer

#2469 [docs] Refactor the problem modification tutorial into existing docs
  docs/src/constraints.md
  docs/src/objective.md
  docs/src/tutorials/Getting started/problem_modification.jl
  docs/src/variables.md
Labels: docs

#2470 Refactor the NLP documentation
  docs/src/nlp.md
Labels: docs

#2477 Reorganize documentation layout
  docs/make.jl
  docs/src/developers/extensions.md
  docs/src/developers/roadmap.md
  docs/src/developers/style.md
  docs/src/manual/callbacks.md
  docs/src/manual/constraints.md
  docs/src/manual/containers.md
  docs/src/manual/expressions.md
  docs/src/manual/nlp.md
  docs/src/manual/objective.md
  docs/src/manual/solutions.md
  docs/src/manual/solvers.md
  docs/src/manual/variables.md
Labels: docs

#2478 Rewrite the Model documentation
  docs/make.jl
  docs/src/installation.md
  docs/src/manual/models.md
  docs/src/manual/solvers.md
  docs/src/manual/variables.md
  docs/src/reference/models.md
  docs/src/reference/moi.md
  src/optimizer_interface.jl
Labels: docs

#2479 Delete nonlinear_modelling tutorial
  docs/src/tutorials/Getting started/nonlinear_modelling.jl
Labels: docs

#2476 Rewrite the Containers documentation
  docs/src/manual/constraints.md
  docs/src/manual/containers.md
  docs/src/manual/expressions.md
  docs/src/manual/variables.md
  docs/src/reference/containers.md
  src/Containers/macro.jl
  src/macros.jl
Labels: JuMPContainer, docs

#2471 Add missing docstrings in JuMP.jl
  src/JuMP.jl
Labels: docs

#2482 Rewrite the solution documentation
  docs/src/manual/solutions.md
  docs/src/reference/solutions.md
Labels: docs

#2490 Increase the visibility of the community forum
  docs/src/index.md
Labels: docs

#2481 Tidy various docstrings
  docs/src/reference/models.md
  src/JuMP.jl
  src/variables.jl
Labels: docs

#2472 Add missing docstrings in print.jl
  src/print.jl
Labels: docs

#2493 Merge example and tutorial directories.
  docs/make.jl
  docs/src/examples/basic.jl
  docs/src/index.md
  docs/src/tutorials/LICENSE.md
  docs/src/tutorials/Mixed-integer linear programs/callbacks.jl
  docs/src/tutorials/Mixed-integer linear programs/cannery.jl
  docs/src/tutorials/Mixed-integer linear programs/cutting_stock_column_generation.jl
  docs/src/tutorials/Mixed-integer linear programs/diet.jl
  docs/src/tutorials/Mixed-integer linear programs/factory_schedule.jl
  docs/src/tutorials/Mixed-integer linear programs/knapsack.jl
  docs/src/tutorials/Mixed-integer linear programs/multi.jl
  docs/src/tutorials/Mixed-integer linear programs/prod.jl
  docs/src/tutorials/Mixed-integer linear programs/steelT3.jl
  docs/src/tutorials/Mixed-integer linear programs/sudoku.jl
  docs/src/tutorials/Mixed-integer linear programs/transp.jl
  docs/src/tutorials/Mixed-integer linear programs/urban_plan.jl
  docs/src/tutorials/Nonlinear programs/clnlbeam.jl
  docs/src/tutorials/Nonlinear programs/mle.jl
  docs/src/tutorials/Nonlinear programs/nlp_tricks.jl
  docs/src/tutorials/Nonlinear programs/rosenbrock.jl
  docs/src/tutorials/Quadratic programs/qcp.jl
  docs/src/tutorials/Semidefinite programs/cluster.jl
  docs/src/tutorials/Semidefinite programs/corr_sdp.jl
  docs/src/tutorials/Semidefinite programs/max_cut_sdp.jl
  docs/src/tutorials/Semidefinite programs/min_distortion.jl
  docs/src/tutorials/Semidefinite programs/min_ellipse.jl
  docs/src/tutorials/Semidefinite programs/robust_uncertainty.jl
Labels: docs

#2489 Add modelling tutorials
  docs/src/assets/full_sudoku.svg
  docs/src/assets/g1.svg
  docs/src/assets/g2.svg
  docs/src/assets/g3.svg
  docs/src/assets/n_queens.png
  docs/src/assets/n_queens4.png
  docs/src/assets/partial_sudoku.svg
  docs/src/assets/power_systems.png
  docs/src/tutorials/Mixed-integer linear programs/finance.jl
  docs/src/tutorials/Mixed-integer linear programs/geographic_clustering.jl
  docs/src/tutorials/Mixed-integer linear programs/n-queens.jl
  docs/src/tutorials/Mixed-integer linear programs/network_flows.jl
  docs/src/tutorials/Mixed-integer linear programs/power_systems.jl
  docs/src/tutorials/Mixed-integer linear programs/sudoku.jl
  docs/src/tutorials/Nonlinear programs/rocket_control.jl
  docs/src/tutorials/Quadratic programs/portfolio.jl
  docs/src/tutorials/Semidefinite programs/experiment_design.jl
Labels: docs

#2497 Add plotting to tutorials
  docs/Project.toml
  docs/src/tutorials/Nonlinear programs/rocket_control.jl
Labels: docs

#2498 Add sandbox for doc includes
  docs/make.jl
Labels: docs

#2502 Clarify the difference between variables and parameters
  docs/src/manual/nlp.md
Labels: docs

#2496 Adds yet another modelling tutorial from JuMPTutorials
  docs/Project.toml
  docs/src/tutorials/Nonlinear programs/space_shuttle_reentry_trajectory.jl
Labels: docs

#2504 Begin explanation section of docs
  docs/make.jl
  docs/src/background/algebraic_modeling_languages.md
  docs/src/background/should_i_use.md
  docs/src/index.md
Labels: docs
